.CarouselItem {
  /* height: 32em; */
  max-height: 100vh;
}

.MainCarousel span::after {
  content: none;
}

.CarouselImg {
  /* max-height: 100vh; */
}

.Logo {
  top: 50%;
  width: 40%;
  /* -webkit-filter: drop-shadow(2px 1px 1px rgb(0, 0, 0))
    drop-shadow(-1px -1px 1px rgb(0, 0, 0));
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0))
    drop-shadow(-1px -1px 0 rgb(0, 0, 0)); */
}

.LinearMask {
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%)
  );
}

.NormalMask {
  background-color: rgba(0, 0, 0, 0.6);
}
