.CarouselItem {
  max-height: 100vh;
}

.MainCarousel span::after {
  content: none;
}

.Logo {
  top: 50%;
  width: 40%;
}

.LinearMask {
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%)
  );
}

.NormalMask {
  background-color: rgba(0, 0, 0, 0.6);
}
